body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    color: black;
	
}

header {
    background: linear-gradient(to top,rgba(0, 0, 0, 0.6)50%,rgba(0, 0, 0, 0.6)50%),url(Mnemba-Island-2-1160x653-1.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
    text-align: center;
}
.icon{
    width: 200px;
    float: left;
    height:70px;
}

.logo img {
    height: 140px;
	width: 200px;
	margin-left:0px;
	
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    color:white ;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
	color: #ff7200;
    text-decoration: underline;
}

main {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h2 {
    color: black;
}

img {
    width: 20%;
    max-width: 600px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

ul {
    background-color:#008080 ;
    padding: 20px;
    border-radius: 20px;
	text-align:left-side;
}



footer {
    text-align: center;
    padding: 20px;
    background: #1676a3; 
    color: white;
}
