body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    color: black;
	
}

header {
    background: #22568a;
	background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
    text-align: center;
}




main {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h2 {
    color: black;
}

img {
	max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin: 10px 0;
    
}

li.a{
	color:blue;
}
footer {
    text-align: center;
    padding: 20px;
    background: #1676a3; 
    color: white;
}